.detailContainer {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.detail {
	width: 60%;
	background-color: var(--bg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 30px;
	box-shadow: var(--shadow);
}
.detail img {
	width: 50%;
	margin-right: 30px;
}
.detailText > * {
	margin: 15px 0;
}
@media screen and (max-width: 600px) {
	.detail {
		flex-direction: column;
		width: 80%;
		text-align: center;
		padding-right: 0;
	}
	.detail img {
		width: 100%;
		margin-right: 0;
	}
	.detailText {
		padding: 0 10px;
	}
}
