.basketItemContainer {
	width: 50%;
	margin: 0 auto;
	/* border: 1px solid #000; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	box-shadow: var(--shadow);
	padding: 0px 30px;
	padding-left: 0;
}
.basketItemContainer img {
	height: auto;
	width: 30%;
}
