.basketItemContainer {
	width: 50%;
	margin: 0 auto;
	/* border: 1px solid #000; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	box-shadow: var(--shadow);
	padding: 0px 30px;
	padding-left: 0;
	z-index: 2;
	/* background: rgb(249, 247, 240); */
}
.basketItemContainer img {
	height: auto;
	width: 30%;
}
.basketItemContainer button {
	background-color: black;
	padding: 10px 25px;
	color: var(--bg);
	cursor: pointer;
}
