* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a {
	text-decoration: none;
}
a:active {
	color: black;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
:root {
	--bg: #efede7;
	--primary: #146c78;
	--secondary: #0e91a1;
	--last: #7dce94;
	--transition: 200ms ease-in-out;
	--shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
		rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
